/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}


/* my styles */
body {
  font-family: Helvetica;
  font-size: 18px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

#main {
  background-color: #eeeeee;
  border: 3px solid #666666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1em;
  width: 600px;
}

input, textarea {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #666666;
  font-size: 16px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#expression {
  font-size: 25px;
}

#expression input[name=expression] {
  margin: 0 4px;
  width: 530px;
}

#expression input[name=option] {
  margin-left: 4px;
  width: 40px;
}

#test_strings textarea {
  height: 95px;
  width: 100%;
}

#output {
  display: none;
}

#results {
  background-color: white;
  border: 1px solid #666666;
  font-size: 16px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#results li {
  margin-bottom: 10px;
}

#results li:last-child {
  margin-bottom: 0px;
}

#results span {
  background-color: #f4ff80;
}

#groups {
  background-color: white;
  border: 1px solid #666666;
  font-size: 16px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#groups h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

#groups ol {
  list-style-type: decimal;
  margin-bottom: 10px;
  padding-left: 30px;
}
