/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}


/* my styles */
body {
  color: #080901;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #222 url(bg.png);
  color: #ccc;
}

#container {
  width: 650px;
  margin: 0 auto;
}

#header {
  position: relative;
  overflow: hidden;
}

#header h1 {
  font-family: 'Reenie Beanie', cursive, sans-serif;
  font-size: 96px;
  font-weight: bold;
  margin: 0.1em 0;
  color: #FFF;
  line-height: 96px;
  float: left;
}

#header h2 {
  color: #aaa;
  text-align: right;
  line-height: 18px;
  margin-top: 60px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

a {
  color: #FFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#main {
  background-color: #FFFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  box-shadow: 0 0 30px #000;
  border-radius: 4px;
  padding: 30px;
  overflow: hidden;
  color: #333;
}

#main h2 {
  font-weight: 700;
  color: #369;
}

#main a {
  color: #F7296F;
}

input, textarea, #results, #groups {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

#expression {
  font-size: 25px;
}

#expression input[name=expression] {
  margin: 0 4px;
  width: 510px;
}

#expression input[name=option] {
  margin-left: 4px;
  width: 50px;
}

#test_strings textarea {
  height: 95px;
  width: 100%;
}

#output, #error {
  display: none;
}

#intro, #error, #output {
  margin: 10px -30px -30px -30px;
  padding: 30px;
  background-color: #eef;
  border-top: 1px solid #dde;
}

#results li {
  margin-bottom: 10px;
}

#results li:last-child {
  margin-bottom: 0px;
}

#results span {
  background-color: #f4ff80;
}

#groups {
  margin-bottom: 0;
}

#groups h3 {
  font-size: 1em;
  margin-bottom: 5px;
  color: #999;

}

#groups ol {
  list-style-type: decimal;
  margin-bottom: 10px;
  padding-left: 30px;
}

#footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
}
